<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>id</key>
			<string></string>
			<key>name</key>
			<string>Женщинам</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>id</key>
					<string></string>
					<key>name</key>
					<string>Одежда</string>
					<key>icon</key>
					<string></string>
					<key>subcategories</key>
					<array>
						<dict>
							<key>id</key>
							<string>30</string>
							<key>name</key>
							<string>Блузки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>29</string>
							<key>name</key>
							<string>Брюки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1139</string>
							<key>name</key>
							<string>Джинсы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1477</string>
							<key>name</key>
							<string>Жилеты</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1698</string>
							<key>name</key>
							<string>Кардиганы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1209</string>
							<key>name</key>
							<string>Комбинезоны</string>
						</dict>
						<dict>
							<key>id</key>
							<string>940</string>
							<key>name</key>
							<string>Костюмы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>26</string>
							<key>name</key>
							<string>Куртки и пуховики</string>
						</dict>
						<dict>
							<key>id</key>
							<string>27</string>
							<key>name</key>
							<string>Кожаные куртки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1752</string>
							<key>name</key>
							<string>Лосины и леггинсы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1400</string>
							<key>name</key>
							<string>Майка</string>
						</dict>
						<dict>
							<key>id</key>
							<string>436</string>
							<key>name</key>
							<string>Носки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1750</string>
							<key>name</key>
							<string>Пальто</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1606</string>
							<key>name</key>
							<string>Пиджаки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>28</string>
							<key>name</key>
							<string>Платья</string>
						</dict>
						<dict>
							<key>id</key>
							<string>122</string>
							<key>name</key>
							<string>Плащи</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1892</string>
							<key>name</key>
							<string>Регланы и лонгсливы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1327</string>
							<key>name</key>
							<string>Рубашки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1145</string>
							<key>name</key>
							<string>Свитера и джемперы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1588</string>
							<key>name</key>
							<string>Спортивные костюмы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1482</string>
							<key>name</key>
							<string>Толстовки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1688</string>
							<key>name</key>
							<string>Топы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1700</string>
							<key>name</key>
							<string>Туники</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1164</string>
							<key>name</key>
							<string>Футболки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1142</string>
							<key>name</key>
							<string>Шорты и бриджи</string>
						</dict>
						<dict>
							<key>id</key>
							<string>911</string>
							<key>name</key>
							<string>Юбки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1434</string>
							<key>name</key>
							<string>Купальники</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1314</string>
							<key>name</key>
							<string>Ночные рубашки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1318</string>
							<key>name</key>
							<string>Пижамы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1488</string>
							<key>name</key>
							<string>Термобелье</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1866</string>
							<key>name</key>
							<string>Трусы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1313</string>
							<key>name</key>
							<string>Халаты</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string></string>
					<key>name</key>
					<string>Обувь</string>
					<key>icon</key>
					<string></string>
					<key>subcategories</key>
					<array>
						<dict>
							<key>id</key>
							<string>1324</string>
							<key>name</key>
							<string>Балетки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1235</string>
							<key>name</key>
							<string>Босоножки и сандалии</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1676</string>
							<key>name</key>
							<string>Ботильоны</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1326</string>
							<key>name</key>
							<string>Ботинки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1325</string>
							<key>name</key>
							<string>Кеды</string>
						</dict>
						<dict>
							<key>id</key>
							<string>942</string>
							<key>name</key>
							<string>Кроссовки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1003</string>
							<key>name</key>
							<string>Мокасины</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1188</string>
							<key>name</key>
							<string>Сапоги</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1383</string>
							<key>name</key>
							<string>Средства по уходу за обувью</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1339</string>
							<key>name</key>
							<string>Тапочки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1242</string>
							<key>name</key>
							<string>Туфли</string>
						</dict>
						<dict>
							<key>id</key>
							<string>991</string>
							<key>name</key>
							<string>Шлёпанцы</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string></string>
					<key>name</key>
					<string>Аксессуары</string>
					<key>icon</key>
					<string></string>
					<key>subcategories</key>
					<array>
						<dict>
							<key>id</key>
							<string>1414</string>
							<key>name</key>
							<string>Баффы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1343</string>
							<key>name</key>
							<string>Браслеты</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1839</string>
							<key>name</key>
							<string>Брелоки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1812</string>
							<key>name</key>
							<string>Броши</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1828</string>
							<key>name</key>
							<string>Заколки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1785</string>
							<key>name</key>
							<string>Зонты</string>
						</dict>
						<dict>
							<key>id</key>
							<string>401</string>
							<key>name</key>
							<string>Клатчи</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1853</string>
							<key>name</key>
							<string>Ключницы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1826</string>
							<key>name</key>
							<string>Кольца</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1855</string>
							<key>name</key>
							<string>Косметички</string>
						</dict>
						<dict>
							<key>id</key>
							<string>400</string>
							<key>name</key>
							<string>Кошельки и визитницы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1512</string>
							<key>name</key>
							<string>Маски</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1844</string>
							<key>name</key>
							<string>Ожерелья</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1259</string>
							<key>name</key>
							<string>Перчатки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1795</string>
							<key>name</key>
							<string>Ремни и пояса</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1803</string>
							<key>name</key>
							<string>Сережки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1441</string>
							<key>name</key>
							<string>Оправы для очков</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1660</string>
							<key>name</key>
							<string>Очки для плавания</string>
						</dict>
						<dict>
							<key>id</key>
							<string>428</string>
							<key>name</key>
							<string>Солнцезащитные очки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1445</string>
							<key>name</key>
							<string>Сумки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1762</string>
							<key>name</key>
							<string>Часы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1783</string>
							<key>name</key>
							<string>Чемоданы и дорожные сумки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1681</string>
							<key>name</key>
							<string>Чехлы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1254</string>
							<key>name</key>
							<string>Шапки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1211</string>
							<key>name</key>
							<string>Шарфы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1503</string>
							<key>name</key>
							<string>Шлемы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1747</string>
							<key>name</key>
							<string>Шнурки</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string></string>
			<key>name</key>
			<string>Мужчинам</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>id</key>
					<string></string>
					<key>name</key>
					<string>Одежда</string>
					<key>icon</key>
					<string></string>
					<key>subcategories</key>
					<array>
						<dict>
							<key>id</key>
							<string>29</string>
							<key>name</key>
							<string>Брюки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1139</string>
							<key>name</key>
							<string>Джинсы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1477</string>
							<key>name</key>
							<string>Жилеты</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1698</string>
							<key>name</key>
							<string>Кардиганы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1209</string>
							<key>name</key>
							<string>Комбинезоны</string>
						</dict>
						<dict>
							<key>id</key>
							<string>26</string>
							<key>name</key>
							<string>Куртки и пуховики</string>
						</dict>
						<dict>
							<key>id</key>
							<string>27</string>
							<key>name</key>
							<string>Кожаные куртки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>436</string>
							<key>name</key>
							<string>Носки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1750</string>
							<key>name</key>
							<string>Пальто</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1606</string>
							<key>name</key>
							<string>Пиджаки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1892</string>
							<key>name</key>
							<string>Регланы и лонгсливы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1327</string>
							<key>name</key>
							<string>Рубашки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1145</string>
							<key>name</key>
							<string>Свитера и джемперы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1588</string>
							<key>name</key>
							<string>Спортивные костюмы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1482</string>
							<key>name</key>
							<string>Толстовки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1164</string>
							<key>name</key>
							<string>Футболки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1142</string>
							<key>name</key>
							<string>Шорты и бриджи</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1589</string>
							<key>name</key>
							<string>Плавки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1488</string>
							<key>name</key>
							<string>Термобелье</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1866</string>
							<key>name</key>
							<string>Трусы</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string></string>
					<key>name</key>
					<string>Обувь</string>
					<key>icon</key>
					<string></string>
					<key>subcategories</key>
					<array>
						<dict>
							<key>id</key>
							<string>1326</string>
							<key>name</key>
							<string>Ботинки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1325</string>
							<key>name</key>
							<string>Кеды</string>
						</dict>
						<dict>
							<key>id</key>
							<string>942</string>
							<key>name</key>
							<string>Кроссовки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1003</string>
							<key>name</key>
							<string>Мокасины</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1188</string>
							<key>name</key>
							<string>Сапоги</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1383</string>
							<key>name</key>
							<string>Средства по уходу за обувью</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1339</string>
							<key>name</key>
							<string>Тапочки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1242</string>
							<key>name</key>
							<string>Туфли</string>
						</dict>
						<dict>
							<key>id</key>
							<string>991</string>
							<key>name</key>
							<string>Шлёпанцы</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string></string>
					<key>name</key>
					<string>Аксессуары</string>
					<key>icon</key>
					<string></string>
					<key>subcategories</key>
					<array>
						<dict>
							<key>id</key>
							<string>1414</string>
							<key>name</key>
							<string>Баффы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1343</string>
							<key>name</key>
							<string>Браслеты</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1839</string>
							<key>name</key>
							<string>Брелоки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1368</string>
							<key>name</key>
							<string>Галстуки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>401</string>
							<key>name</key>
							<string>Клатчи</string>
						</dict>
						<dict>
							<key>id</key>
							<string>400</string>
							<key>name</key>
							<string>Кошельки и визитницы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1512</string>
							<key>name</key>
							<string>Маски</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1441</string>
							<key>name</key>
							<string>Оправы для очков</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1660</string>
							<key>name</key>
							<string>Очки для плавания</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1259</string>
							<key>name</key>
							<string>Перчатки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1795</string>
							<key>name</key>
							<string>Ремни и пояса</string>
						</dict>
						<dict>
							<key>id</key>
							<string>428</string>
							<key>name</key>
							<string>Солнцезащитные очки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1445</string>
							<key>name</key>
							<string>Сумки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1762</string>
							<key>name</key>
							<string>Часы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1681</string>
							<key>name</key>
							<string>Чехлы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1254</string>
							<key>name</key>
							<string>Шапки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1211</string>
							<key>name</key>
							<string>Шарфы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1503</string>
							<key>name</key>
							<string>Шлемы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1747</string>
							<key>name</key>
							<string>Шнурки</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string></string>
			<key>name</key>
			<string>Детям</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>id</key>
					<string></string>
					<key>name</key>
					<string>Одежда</string>
					<key>icon</key>
					<string></string>
					<key>subcategories</key>
					<array>
						<dict>
							<key>id</key>
							<string>29</string>
							<key>name</key>
							<string>Брюки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1890</string>
							<key>name</key>
							<string>Детские боди</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1139</string>
							<key>name</key>
							<string>Джинсы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1477</string>
							<key>name</key>
							<string>Жилеты</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1698</string>
							<key>name</key>
							<string>Кардиганы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1209</string>
							<key>name</key>
							<string>Комбинезоны</string>
						</dict>
						<dict>
							<key>id</key>
							<string>940</string>
							<key>name</key>
							<string>Костюмы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>26</string>
							<key>name</key>
							<string>Куртки и пуховики</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1471</string>
							<key>name</key>
							<string>Комплекты</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1752</string>
							<key>name</key>
							<string>Лосины и леггинсы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>436</string>
							<key>name</key>
							<string>Носки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1750</string>
							<key>name</key>
							<string>Пальто</string>
						</dict>
						<dict>
							<key>id</key>
							<string>28</string>
							<key>name</key>
							<string>Платья</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1892</string>
							<key>name</key>
							<string>Регланы и лонгсливы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1145</string>
							<key>name</key>
							<string>Свитера и джемперы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1588</string>
							<key>name</key>
							<string>Спортивные костюмы</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1482</string>
							<key>name</key>
							<string>Толстовки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1164</string>
							<key>name</key>
							<string>Футболки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1142</string>
							<key>name</key>
							<string>Шорты и бриджи</string>
						</dict>
						<dict>
							<key>id</key>
							<string>911</string>
							<key>name</key>
							<string>Юбки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1434</string>
							<key>name</key>
							<string>Купальники</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1589</string>
							<key>name</key>
							<string>Плавки</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string></string>
					<key>name</key>
					<string>Обувь</string>
					<key>icon</key>
					<string></string>
					<key>subcategories</key>
					<array>
						<dict>
							<key>id</key>
							<string>1235</string>
							<key>name</key>
							<string>Босоножки и сандалии</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1326</string>
							<key>name</key>
							<string>Ботинки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1325</string>
							<key>name</key>
							<string>Кеды</string>
						</dict>
						<dict>
							<key>id</key>
							<string>942</string>
							<key>name</key>
							<string>Кроссовки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1188</string>
							<key>name</key>
							<string>Сапоги</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1383</string>
							<key>name</key>
							<string>Средства по уходу за обувью</string>
						</dict>
						<dict>
							<key>id</key>
							<string>991</string>
							<key>name</key>
							<string>Шлёпанцы</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string></string>
					<key>name</key>
					<string>Аксессуары</string>
					<key>icon</key>
					<string></string>
					<key>subcategories</key>
					<array>
						<dict>
							<key>id</key>
							<string>1839</string>
							<key>name</key>
							<string>Брелоки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1368</string>
							<key>name</key>
							<string>Галстуки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1828</string>
							<key>name</key>
							<string>Заколки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1512</string>
							<key>name</key>
							<string>Маски</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1660</string>
							<key>name</key>
							<string>Очки для плавания</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1259</string>
							<key>name</key>
							<string>Перчатки</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1795</string>
							<key>name</key>
							<string>Ремни и пояса</string>
						</dict>
						<dict>
							<key>id</key>
							<string>1445</string>
							<key>name</key>
							<string>Сумки</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
