<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>id</key>
			<string></string>
			<key>name</key>
			<string>Женщинам</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>id</key>
					<string></string>
					<key>name</key>
					<string>Аксессуары</string>
					<key>icon</key>
					<string></string>
					<key>subcategories</key>
					<array>
						<dict>
							<key>id</key>
							<string>5999991343</string>
							<key>name</key>
							<string>Браслеты</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string></string>
			<key>name</key>
			<string>Мужчинам</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>id</key>
					<string></string>
					<key>name</key>
					<string>Обувь</string>
					<key>icon</key>
					<string></string>
					<key>subcategories</key>
					<array>
						<dict>
							<key>id</key>
							<string>699999942</string>
							<key>name</key>
							<string>Кроссовки</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string></string>
			<key>name</key>
			<string>Детям</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>id</key>
					<string></string>
					<key>name</key>
					<string>Одежда</string>
					<key>icon</key>
					<string></string>
					<key>subcategories</key>
					<array>
						<dict>
							<key>id</key>
							<string>972999991139</string>
							<key>name</key>
							<string>Джинсы</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
